*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: #f5f5f5;
  font-family: Inter, sans-serif;
  font-weight: normal;
  min-width: 1100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul {
  margin: 0;

  padding: 0;
}

a {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  background: rgb(144 144 144 / 1);
  padding: 40px;
  border-radius: 7px;
  max-width: 390px;
  margin: 0 auto;
}

/*header
============*/

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
  padding: 40px 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(222 222 222 / 1) 50%,
    rgb(208 208 208 / 1) 50%
  );
}

.header__logo {
  display: inline-block;
  width: 48px;
}

.header__logo-image {
  width: 100%;
}

.header__logo-description {
  padding-top: 16px;
}

.content-section {
  max-width: 360px;
  box-sizing: border-box;
  margin: auto;
}

.content-section_theme_bright {
  color: #131313;
}

.cover {
  min-height: 474px;
  background: linear-gradient(
    to right,
    rgb(222 222 222 / 1) 50%,
    rgb(208 208 208 / 1) 50%
  );
  background-size: 100% auto;
  background-position: right center;
  position: relative;
}

.cover__title {
  width: 100%;
  color: rgb(28 28 28 / 1);
  font-family: Inter, serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  position: relative;
  z-index: 3;
}

.cover__title-decor {
  position: absolute;
  top: 10px;
  right: 62px;
  z-index: 1;
}

.cover-title-curve-line {
  position: absolute;
  top: 0;
}

.cover__foto-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  border: 10px solid rgb(255 255 255 / 1);
  position: relative;
}

.cover__foto-element {
  display: flex;
  position: absolute;
  top: 140px;
  left: 25px;
}

.cover__foto-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 3px;
  top: 2px;
}

.cover__foto-orange-cube {
  position: absolute;
  top: 150px;
  right: 0;
  transform: rotate(60deg);
}

.cover__foto-vertical-rectangle {
  position: absolute;
  top: 320px;
  right: 36px;
}

.cover__foto-underline {
  position: absolute;
  bottom: -10px;
  right: -1px;
}

.cover__foto-curve-line {
  position: absolute;
  top: 385px;
  right: 140px;
}

.cover__foto-half-circle {
  position: absolute;
  top: 455px;
  left: 25px;
}

.intro {
  background: rgb(222 222 222 / 1);
  padding: 35px 25px 25px 45px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  color: #ccc;
  font-size: 16px;
}

.intro__title {
  font-size: 14px;
  color: rgb(28 28 28 / 1);
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.7;
  position: relative;
}

.intro__title::before {
  content: '';
  position: absolute;
  border-color: black;
  border-style: solid;
  transform: rotate(90deg);
  border-width: 0 0.2em 1em 0;
  height: 1em;
  top: 700px;
  left: 52px;
}

.intro__title-bold-text {
  color: rgb(28 28 28 / 1);
  font-weight: bold;
}

.intro__main-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  color: rgb(28 28 28 / 1);
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.7;
  list-style: square;
}

.reasons {
  background-color: #2f2f2f;
  padding-top: 80px;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  color: #f5f5f5;
  line-height: 1.5;
}

.content-section__subtitle {
  font-weight: normal;
}

.content-section__text {
  font-weight: bold;
}

.content-section__social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 25px 0;
}

.content-section__icon-item {
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  background: #000;
}

.footer__copy {
  font-family: inherit;
  font-size: inherit;
  color: #959595;
}

.footer__links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer__links a {
  color: #959595;
  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
}
